<link rel="import" href="../polymer/polymer-element.html">
<script src="moment-js/moment.min.js" type="text/javascript"></script>

<!-- Add locale for every supported country -->
<script src="moment-js/locale/de.js" type="text/javascript"></script>

<dom-module id="sonar-time-ago">
    <template>
        <span title="[[timeAlt]]">[[time]]</span>
    </template>
    <script>
        /**
         * `sonar-time-ago`
         * Element displays the time that has passed after a given datetime expression
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class SonarTimeAgo extends Polymer.Element {
            static get is() {
                return 'sonar-time-ago';
            }

            static get properties() {
                return {
                    /**
                     * Time to display in element
                     *
                     * @attribute time
                     * @type String
                     * @default ""
                     */
                    time: {
                        type: String,
                        value: "",
                        readOnly: true
                    },

                    /**
                     * Alternative time to display
                     *
                     * @attribute timeAlt
                     * @type String
                     * @default ""
                     */
                    timeAlt: {
                        type: String,
                        value: "",
                        readOnly: true
                    },

                    /**
                     * Unix timestamp attribute that is that is formatted
                     *
                     * @attribute datetime
                     * @type String
                     * @default ""
                     */
                    datetime: {
                        type: String,
                        value: "",
                        observer: "reload"
                    },

                    /**
                     * Locale in which time ago should be displayed
                     *
                     * @attribute locale
                     * @type String
                     * @default "en"
                     */
                    locale: {
                        value: "de",
                        type: String
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();

                if (this.locale) {
                    moment.locale(this.locale);
                }

                setInterval(this.reload.bind(this), 30000);
            }

            reload() {
                const time = this._format(this.datetime);
                const timeAlt = this._getAltText(this.datetime);

                this._setTimeAlt(timeAlt);
                this._setTime(time);
            }

            _format(datetime) {
                return moment(datetime, moment.UTC)
                    .fromNow();
            }

            _getAltText(datetime) {
                return moment(datetime,  moment.UTC)
                    .format("DD.MM.YYYY, HH:mm");
            }
        }

        window.customElements.define(SonarTimeAgo.is, SonarTimeAgo);
    </script>
</dom-module>
