<link rel="import" href="../polymer/polymer-element.html">
<script src="moment-js/moment.min.js" type="text/javascript"></script>

<!-- Add locale for every supported country -->
<script src="moment-js/locale/de.js" type="text/javascript"></script>

<dom-module id="sonar-formatted-time">
    <template>
        <span title="[[timeAlt]]">[[time]]</span>
    </template>
    <script>
        /**
         * `sonar-formatted-time`
         * Element displays the the given time in a given format
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class SonarFormattedTime extends Polymer.Element {
            static get is() {
                return "sonar-formatted-time";
            }

            static get properties() {
                return {
                    /**
                     * Time to display in element
                     *
                     * @attribute time
                     * @type String
                     * @default ""
                     */
                    time: {
                        type: String,
                        value: "",
                        readOnly: true
                    },

                    /**
                     * Alternative time to display
                     *
                     * @attribute timeAlt
                     * @type String
                     * @default ""
                     */
                    timeAlt: {
                        type: String,
                        value: "",
                        readOnly: true
                    },

                    /**
                     * Datetime attribute that is that is formatted
                     *
                     * @attribute datetime
                     * @type String
                     * @default ""
                     */
                    datetime: {
                        type: String,
                        value: "",
                        observer: "reload"
                    },

                    /**
                     * Pattern to format the date
                     *
                     * @attribute pattern
                     * @type String
                     * @default ""
                     */
                    pattern: {
                        value: "DD.MM.YYYY, HH:mm",
                        type: String
                    },

                    /**
                     * Locale in which time ago should be displayed
                     *
                     * @attribute locale
                     * @type String
                     * @default "en"
                     */
                    locale: {
                        value: "de",
                        type: String
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();

                if (this.locale) {
                    moment.locale(this.locale);
                }
            }

            reload() {
                const time = this._format(this.datetime, this.pattern);
                const timeAlt = this._getAltText(this.datetime);

                this._setTimeAlt(timeAlt);
                this._setTime(time);
            }

            _format(datetime, pattern) {
                return moment(datetime, moment.UTC)
                    .format(pattern);
            }

            _getAltText(datetime) {
                return moment(datetime, moment.UTC)
                    .format("DD.MM.YYYY, HH:mm");
            }
        }

        window.customElements.define(SonarFormattedTime.is, SonarFormattedTime);
    </script>
</dom-module>
